<div class="row">
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="value">
              {{totalConfirmed}}
            </div>
            <div class="label">
              Total Confirmed
            </div>
        </div>
    </div>
    
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="value">
                {{totalDeaths}}
            </div>
            <div class="label">
              Tolat Deaths
            </div>
          </div>
    </div>
    
    
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="value">
                {{totalRecovered}}
            </div>
            <div class="label">
              Total Recovered
            </div>
          </div>
        </div>
    X
    
    <div class="card col p-3 m-3">
        <div class="ui statistic">
            <div class="value">
                {{totalActive}}
            </div>
            <div class="label">
              Total Active
            </div>
          </div>
    </div>
    
    </div>